#stage {
    border:groove;
    width:800px;
    height:300px;
}
.btnpopup,.radpopup,.ddlpopup,.cblpopup,.linkpopup{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.popup1,.popup2,.popup3,.popup4,.popup5{
            min-width:50px;
            min-height:50px;
            padding:40px;
            background:#fff;
            border:10px solid #666;
            position:absolute;
            top:30%;
            left:35%;
             display:none;
        }
input[type=text] {
	border: 3px double #CCCCCC;
	width: 230px;
}

.popup1 label {
    display: inline-block; 
    width: 100px; 
}
.popup5 label {
    color:#808080;
}