
/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

/*a #tab1 {
    -webkit-transform: rotateZ(270deg);
    position: absolute;
    top: 180px;
    left: -67px;
}
a #tab2 {
      -webkit-transform: rotateZ(270deg);
    position: absolute;
    top: 250px;
    left: -67px;
}*/
section.workSpace {

width: 76%;
position: relative;
left: 24%;
top: 27px;
height: 100%;
}
.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #7FB5DA;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}

    .tab-links a:hover {
        background: #a7cce5;
        text-decoration: none;
    }

li.active a, li.active a:hover {
    background: #fff;
    color: #4c4c4c;
}
xmp {
max-height:400px;
font-family:Calibri;
font-size:20px;
color:#29c8c3
}
/*----- Content of Tabs -----*/
.tab-content {
    padding: 15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
    background: #fff;
    margin-top: -16px;
overflow:scroll;

}

.tab {
    display: none;
}

    .tab.active {
        display: block;
    }
