body {
}
.drawing {
   position:relative;
	
    overflow:hidden;
     
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
    background: #808080;
    height:400px;

}
.create-div {
    min-height:10px;
    min-width:10px;
}
.create-div:hover {
    cursor:all-scroll;
}