#stage {
    border:groove;
    width:800px;
    height:300px;
}
.btnpopup {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.radpopup {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.ddlpopup {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.popup1{
            width:500px;
            height:500px;
            background:#fff;
            border:10px solid #666;
            margin:30px auto;
            position:absolute;
            top:50%;
            left:50%;
            z-index:1;
            margin-top:-250px;
             margin-left:-250px;
             display:none;
        }

.popup2 {
            width:500px;
            height:500px;
            background:#fff;
            border:10px solid #666;
            margin:30px auto;
            position:absolute;
            top:50%;
            left:50%;
            z-index:1;
            margin-top:-250px;
             margin-left:-250px;
             display:none;
        }

.popup3 {
            width:500px;
            height:500px;
            background:#fff;
            border:10px solid #666;
            margin:30px auto;
            position:absolute;
            top:50%;
            left:50%;
            z-index:1;
            margin-top:-250px;
             margin-left:-250px;
             display:none;
        }