/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
::selection {
background:#FFC219}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*.......start....................*/
* {
    
    -webkit-box-sizing: border-box; /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	background-color:#068dcd;
}
.wrapper{
	width:800px;
	height:500px;
	margin:0px auto;
	background-color:#FFC219;
	position:relative;
	top:90px;
}
h2{
	font-size:50px;
	font-family: san serif;
	color: #FFFFFF;
	position:absolute;
	top:33px;
	left:248px;
}
h2.intro
{
    font-size:50px;
	font-family: san serif;
	color: #FFFFFF;
	position:absolute;
	top:33px;
	left:191px;
}
h2.introcss{
	font-size:50px;
	font-family: san serif;
	color: #FFFFFF;
	position:absolute;
	top:33px;
	left:138px;	
}
.left_col{
			background-color:#FFFFFF;
			float:left;
			height:500px;
			width:170px;
			margin-top: 90;
            margin-left: 99;
			}
.left{
		font-size:23px;
		font-family: san serif;
		color:#068dcd;
		margin-left: 10px;
		margin-top: 25px;
		}
h1.left,h1.right,a.left{
       color:#068dcd;
	   text-decoration:none;
	   margin-left:5px;
}		
.menu_html_intro{
      font-size:19px;
	  font-family: san serif;
	  color:#068dcd;
	  position: relative;
	  text-decoration: none;
	  top: 30px;
	  left: 10px;
	 
}	
.menu_html_editors{
		font-size:19px;
		font-family: san serif;
	    color:#068dcd;
	    position: relative;
	    text-decoration: none;
		top:45px;
		left:10px;
		display:block;
		
	}
.menu_html_basic{
        font-size:19px;
		font-family: san serif;
	    color:#068dcd;
	    position: relative;
	    text-decoration: none;
        top:60px;
		left:10px;
		display:block;
}
.menu_html_elements{
     font-size:19px;
	 font-family: san serif;
     color:#068dcd;
     position: relative;
     text-decoration: none;
	  top:75px;
      left:10px;
}
.menu_html_attributes{
     font-size:19px;
	 font-family: san serif;
     color:#068dcd;
     position: relative;
     text-decoration: none;
	 top:90px;
	 left:10px;
	 display:block;
}
.menu_html_headings{
     font-size:19px;
	 font-family: san serif;
     color:#068dcd;
     position: relative;
     text-decoration: none;
	  top:105px;
	  left:10px;
}
.menu_html_paragraphs{
     font-size:19px;
	 font-family: san serif;
     color:#068dcd;
     position: relative;
     text-decoration: none;
	 top:120px;
	 left:10px;
	 display:block;
}
.menu_html_formatting{
     font-size:19px;
	 font-family: san serif;
     color:#068dcd;
     position: relative;
     text-decoration: none;
	 top:135px;
	 left:10px;
	 display:block;
}
.menu_html_comments{
     font-size:19px;
	 font-family: san serif;
     color:#068dcd;
     position: relative;
     text-decoration: none;
	 top:150px;
	 left:10px;
	 display:block;
}
.menu_html_links{
     font-size:19px;
	 font-family: san serif;
     color:#068dcd;
     position: relative;
     text-decoration: none;
	 top:165px;
	 left:10px;
	 display:block;
}
.menu_html_head{
	 font-size:19px;
	 font-family: san serif;
     color:#068dcd;
     position: relative;
     text-decoration: none;
	 top:185px;
	 left:10px;
	 display:block;
	 }
.menu_html_css{
     font-size:19px;
	 font-family: san serif;
     color:#068dcd;
     position: relative;
     text-decoration: none;
	 top:200px;
	 left:10px;
	 display:block;
}	 
.right_col{
     background-color:#FFFFFF;
   	 float:right;
	 height:500px;
	 width:170px;
	 margin-top: -410px;
	 margin-right: 99px;
}
.right{
    font-size:23px;
	font-family: san serif;
	color:#068dcd;
	margin-left: 10px;
	margin-top: 25px;
}
a:active,a:hover{
		color: #FFC219;
		font-style:bold;
		}
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#ffffff;
	border-radius:5px;
	padding:10px;
	color:#17689f;
	font-size:12px Arial;
}
.content{
     padding-top: 112px;
     padding-left: 147px;
}
.contentss{
     padding-top: 112px;
     padding-left: 53px;
}
.code{
    background-color: #068dcd;
	width: 461px;
	height: 50px;
	text-align: center;
	color: #FFFFFF;
	font-size: large;
	padding-top: 10px;
	margin-left: 134px;
	margin-top: 5px;
}

.pic{
    margin-left: 77px;
    margin-top: 27px;
}
.pic2{
    margin-left: 130px;
    margin-top: -16px;
}
.list{
    
	font-size:25px;
	color:#ffffff;
		
}
.listss{
   font-size:20px;
	color:#ffffff;
}
.order,.orders{
font-size:20px;
color:#068dcd;

}
.ordercs,.ordercss{
font-size:20px;
color:#068dcd;
padding-left: 133px;
}
::selection {
background:#FFC219
}
textarea{
resize:none;

}
div.con {
margin-left: -103px;
margin-top: 33px;
}
div.con2 {
margin-left: -133px
}
.content2{
   padding-top: 100px;
     padding-left: 147px;
}